/* .meetVideoContainer{
    position:relative;
    height:100vh;
    background:rgb(11, 2, 40);
}
.meetUserVideo{
    position:absolute;
    bottom:10vh;
    height: 20vh;
    width:auto;
  left:0;
    border-radius:20px;
}
.buttonContiner{
    position: absolute;
    width: 100vw;
    bottom:0;
    text-align: center;
}

.buttonContainer svg span{
    font-size:4.5rem;
}
.conferenceView{
display:flex;
padding:20px;
gap:10px;
}
.conferenceView > video{
    width:40vw;
    min-width:30vw;
}
.chatRoom{
    position:absolute;
    height:95vh;
    right:0;
    background:white;
    border-radius:20px;
    width:30vw;
    padding-inline: 20px;
}
.chatContainer{
    position:relative;
    height:100%;
}
.chattingArea{
    position: absolute;
    bottom:0;
}
.chattingDisplay{
    
} */

.meetVideoContainer {
    position: relative;
    height: 100vh;
    background: rgb(1, 4, 48);
}

.meetUserVideo {
    position: absolute;
    bottom: 10vh;
    height: 20vh;
    width: auto;
    left: 0;
    border-radius: 20px;
}

.buttonContainers {
    position: absolute;
    width: 100vw;
    bottom: 0;
    text-align: center;
}

.buttonContainers svg {
    font-size: 3rem;
}

.conferenceView { 

    display: flex;
    
    padding: 10px;
    gap: 10px;
}

.conferenceView  video {
    width: 40vw;
    height: 20vh;
    min-width: 30vw;
    border-radius: 10px;
}

.chatRoom {
    position: absolute;
    height: 90vh;
    right: 0;
    background: white;
    border-radius: 10px;
    width: 30vw;
    padding-inline: 20px;
}

.chatContainer {
    position: relative;
    height: 100%;
}


.chattingArea {
    position: absolute;
    bottom: 0;
}
.chattingDisplay {
  height: 300px;        
  overflow-y: auto; 
  padding: 10px;
  border: 1px solid #ccc;
}
